<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="SeleniumDockerMaven212" parallel="none" verbose="2">
    <listeners>
    
        <listener class-name="org.wtt.docker.listener.ExecutionListener"/>    
    
    </listeners>

	<test name="SeleniumDocker" preserve-order="true">
		<classes>
			<!--<class name="org.wtt.test.SeleniumDocker" /> -->
			<class name="org.wtt.test.SeleniumDocker"/>
			<class name="org.wtt.test.SampleConnectGrid"/>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->